body{
	font-family:Helvetica, Arial;
	font-size:9pt;
	background:#CCC;
}
#wrapper{
	width:800px;
	margin: auto;
	background:#FFF;
	padding:10px;
	border:1px solid #888;
	border-radius:15px;
}
#header{
	background:#EEE;
	border:1px solid #CCC;
	text-align:center;
	border-radius:5px;
}
#header h1{
	
}
h2{
	color:#666;
}


.code{
	border:1px solid #CCC;
	background:#EEE;
	padding:3px 10px;
	font-family:Courier New, monospaced;
}
li.code{
    list-style:none;
}
