body{
	font-family:Helvetica, Arial;
	font-size:9pt;
	background:#CCC;
    text-align:justify;
}
a{
    color:#00F;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
#wrapper{
	width:800px;
	margin: 20px auto;
	background:#FFF;
	padding:10px;
	border:1px solid #888;
	border-radius:12px;
    -webkit-box-shadow:3px 3px 1px #AAA;
}
#header{
	background:#EEE;
	border:1px solid #CCC;
	text-align:center;
	border-radius:5px;
    -webkit-box-shadow:3px 3px 1px #DDD;
}
#header h1{
	text-shadow:1px 1px 0px #FFF;
    color:#666;
}
h2{
	color:#666;
}


.code{
	border:1px solid #CCC;
	background:#EEE;
	padding:3px 10px;
	font-family:Courier New, monospaced;
}
ul.code{
    list-style:none;
}
